In [3]:
import pandas as pd
music_data = pd.read_csv('./music_data_training.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [6]:
X = music_data.drop(columns=['genre'])
Y = music_data['genre']

In [8]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [10]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X, Y)

DecisionTreeClassifier()

In [12]:
# Manual data
manual_predictions = model.predict([ [21, 1], [22, 0] ])
manual_predictions

array(['HipHop', 'Dance'], dtype=object)

In [13]:
# From test csv
test_csv = pd.read_csv('music_data_tests.csv')
csv_predictions = model.predict(test_csv)
csv_predictions

array(['HipHop', 'HipHop', 'HipHop', 'Jazz', 'Jazz', 'Jazz', 'Classical',
       'Classical', 'Classical', 'Dance', 'Dance', 'Dance', 'Dance',
       'Acoustic', 'Acoustic', 'Classical', 'Classical', 'Classical'],
      dtype=object)

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1)

new_model = DecisionTreeClassifier()
new_model.fit(X_train, Y_train)
new_predictions = new_model.predict(X_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(Y_test, new_predictions)
score

1.0

In [46]:
from sklearn.externals import joblib
joblib.dump(model, 'music_rercommender.joblib')

ImportError: cannot import name 'joblib' from 'sklearn.externals' (/home/leonardozanotti/.local/lib/python3.7/site-packages/sklearn/externals/__init__.py)